body {
      background-image: url("https://images.pexels.com/photos/1118873/pexels-photo-1118873.jpeg?cs=srgb&dl=pexels-jplenio-1118873.jpg&fm=jpg");
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-size: 100% 100%;
}   
 
.container {
    text-align: center;
}
 
.weather-card {
    background: rgba(255, 255, 255, 0.8);
  background-size: cover;
  background-position: center;
  border-radius: 20px;
  padding: 20px;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
  width: 450px;
}
 
.weather-card:hover {
    transform: scale(1.05);
}
 
#city-input {
    padding: 15px;
    margin: 10px 0;
    width: 70%;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}
 
#city-input:focus {
    outline: none;
    border-color: #2196F3;
}
 
#city-input::placeholder {
    color: #aaa;
}
 
#city-input-btn {
    padding: 10px;
    background-color: #2196F3;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}
 
#city-input-btn:hover {
    background-color: #1565C0;
}
 
#weather-info {
    display: none;
}
 
#weather-icon {
    width: 100px;
    height: 100px;
}
 
#temperature {
    font-size: 24px;
    font-weight: bold;
    margin: 8px 0;
}
 
#description {
    font-size: 18px;
    margin-bottom: 10px;
}
 
#wind-speed {
    font-size: 16px;
    color: rgb(255, 0, 0);
}
 
#date {
    font-size: 14px;
    color: rgb(255, 0, 0);
}